# Project exclude paths
/.gradle/
/build/
/build/classes/java/main/
.idea
*.iml
out
gen
.gradle
.idea
/build
gradlew.bat
gradlew
gradle-wrapper.jar
gradle-wrapper.properties
.gitignore
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
